apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: homepage
spec:
  template:
    spec:
      containers:
      - name: backend
        env:
        - name: ENABLE_MTLS
          value: "true"
        - name: RUST_LOG
          value: "info"
