apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - vault-bootstrap.yaml
  - vault.yaml
  - postgres.yaml
  - valkey.yaml
  - minio.yaml
  - backend.yaml
  - frontend.yaml
  - ingress.yaml
  - prometheus.yaml
  - grafana.yaml
  - oauth2-proxy.yaml
  - backup-cronjob.yaml
  - argocd-ingress.yaml

images:
  - name: ghcr.io/vikingthedev/homepage-backend
    newTag: latest
  - name: ghcr.io/vikingthedev/homepage-frontend
    newTag: latest
